# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled execute files
*.exe
*.out

# Vim backup files
*~
*.swp
*.stackdump

# Input file
in.txt

# Mac file
*.DS_Store
*.dSYM/
