# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled execute files
*.exe
*.out

# Vim backup files
*~
*.swp
*.stackdump

# Input file
pat_basic/in.txt
